[submodule "hg-modules/hg-git"]
	path = hg-modules/hg-git
	url = git://github.com/schacon/hg-git.git
	ignore = dirty
[submodule "powershell/posh-hg"]
	path = powershell/posh-hg
	url = https://github.com/JeremySkinner/posh-hg.git
[submodule "powershell/posh-git"]
	path = powershell/posh-git
	url = https://github.com/dahlbyk/posh-git.git
[submodule ".vim/bundle/vim-nerdtree"]
	path = .vim/bundle/vim-nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-easymotion"]
	path = .vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
