[user]
	name = prabirshrestha
	email = mail@prabir.me	
[color]
	branch = auto
	status = auto
	interactive = auto
[core]
	autocrlf = false
[alias]
	l = log
	ci = commit
	br = branch
	st = status
	co = checkout
	w = whatchanged
	rank = shortlog -sn --no-merges
	tags = tag -n1 -l
[color "branch"]
	current = green reverse
	local = green
	remote = cyan
[diff]
    tool = kdiff3
[difftool "kdiff3"]
    path = kdiff3
[difftool]
	prompt = false
[merge]
	tool = kdiff3
[mergetool "kdiff3"]
	path = kdiff3
[mergetool]
	prompt = false