[submodule "hg-modules/hg-git"]
	path = hg-modules/hg-git
	url = git://github.com/schacon/hg-git.git
	ignore = dirty
[submodule "powershell/posh-hg"]
	path = powershell/posh-hg
	url = https://github.com/JeremySkinner/posh-hg.git
[submodule "powershell/posh-git"]
	path = powershell/posh-git
	url = https://github.com/dahlbyk/posh-git.git
[submodule "git-modules/git-hg"]
	path = git-modules/git-hg
	url = https://github.com/offbytwo/git-hg.git

[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/easy-motion"]
	path = .vim/bundle/easy-motion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
