.kdiff3rc
.gitk
.gem/
.ssh/
.subversion/
.bash_history
.viminfo
.VirtualBox/
.jenkins/
VirtualBox VMs/
tools/

# Vim ignores
*.swp
*.un~
.vimbackup/
.vimswap/
.vimviews/
.vimundo/
.vim/.netrwhist
.NERDTreeBookmarks
